/* Your app custom styles here */
@import url('./bootstrap-4-utilities.min.css');
@import url('./animate.min.css');
@import url('./fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,500;0,600;0,700;1,400&display=swap');

* {
    font-family: 'Prompt';
}

*:not(img, input) {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img:not(.img-uncopyable) {
    -webkit-touch-callout: default
}

input {
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}


.ios *:not(.icon) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.ios {
    --f7-panel-transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    --f7-sheet-transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    --f7-sheet-transition-duration: 600ms;
}

.img-field {
    max-width: 100%;
    height: auto;
}

.block-title {
    overflow: visible;
}

.photo-browser-standalone {
    z-index: 9999999;
}

.rounded {
    border-radius: 0.5em;
}

.list-group-title {
    transform: translate(0px, 25px);
}

.block-action-btn {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-action-btn p {
    margin: 0;
    margin-top: 5px;
    line-height: 20px;
}

.banner-img {
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.toolbar {
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1) !important;
}

.gauge-front-circle {
    stroke-linecap: round;
}

.landing-page {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.landing-actions {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;

    position: absolute;
    bottom: 0;
    z-index: 28;
}

.flex-space {
    flex-grow: 1;
}

.w-100 {
    width: 100%;
}

.landing-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.landing-container>div {
    margin: 0;
}

.text-muted {
    opacity: 0.5;
}

.landing-img {
    padding: 20px;
}

.landing-img {
    display: grid;
    place-items: center;
}

.user-avatar {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    background-size: cover;
    background-position: top;
    margin-right: 10px;
}

.home-head {
    background-color: var(--f7-navbar-bg-color, var(--f7-bars-bg-color));
    padding: 20px;
}

.ios {
    --f7-navbar-large-title-height: 110px;
}

.shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.alert {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    animation: alertPop 0.25s;
}

@keyframes alertPop {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.navbar-inner .title {
    flex-grow: 1;
}

.alert-warn {
    background-color: var(--f7-color-orange);
    color: white;
}

.img-shadow-sm {
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

@media only screen and (min-width: 610px) {
    .landing-img {
        display: none !important;
    }

    .landing-page {
        height: calc(100% - 110px);
    }
}

.h-100 {
    height: 100%;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.doc-title-collapse {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.doc-item {
    transition: transform 0.5s, opacity 0.5s;
    transition-delay: 0.2s;
}

.doc-item:active {
    transform: scale(1.05);
    opacity: 0.7;
}

.chip {
    margin: 0.2em;
    border-radius: 50px;
}

.chip-container {
    --f7-theme-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--f7-theme-color);
}

.list-fadein li {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.backdrop-in {
    transition-property: background-color;
}

@media (prefers-color-scheme: dark) {
    .doddle {
        filter: invert(1)
    }
}

.block-action-btn {
    background-color: var(--f7-md-secondary-container);
    color: var(--f7-md-on-primary-container);
}

.badge {
    background-color: var(--f7-md-secondary-container);
    color: var(--f7-md-on-primary-container);
}

.tr-color {
    background-color: var(--f7-md-secondary-container);
    color: var(--f7-md-on-primary-container);
}