/* Your app custom styles here */
@import url('./bootstrap-4-utilities.min.css');
@import url('./animate.min.css');
@import url('./fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,500;0,600;0,700;1,400&display=swap');

* {
    font-family: 'Prompt';
}

.img-field {
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 0.5em;
}

.list-group-title {
    transform: translate(0px, 25px);
}

.block-action-btn {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-action-btn p {
    margin: 0;
    margin-top: 5px;
    line-height: 20px;
}

.banner-img {
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.toolbar {
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1) !important;
}

.gauge-front-circle {
    stroke-linecap: round;
}

.landing-page {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.landing-actions {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}

.flex-space {
    flex-grow: 1;
}

.w-100 {
    width: 100%;
}

.landing-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.landing-container>div {
    margin: 0;
    height: 50%;
}

.text-muted {
    opacity: 0.5;
}

.landing-img {
    padding: 20px;
}

.landing-img {
    display: grid;
    place-items: center;
}

.user-avatar {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    background-size: cover;
    background-position: top;
    margin-right: 10px;
}

.home-head {
    background-color: var(--f7-navbar-bg-color, var(--f7-bars-bg-color));
    padding: 20px;
}

.shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.alert {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    animation: alertPop 0.25s;
}

@keyframes alertPop {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.navbar-inner .title {
    flex-grow: 1;
}

.alert-warn {
    background-color: var(--f7-color-orange);
    color: white;
}

.img-shadow-sm {
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

@media only screen and (min-width: 610px) {
    .landing-img {
        display: none !important;
    }

    .landing-page {
        height: calc(100% - 110px);
    }
}