/* Your app custom styles here */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prompt:wght@300;400;600&display=swap');
@import url('./bootstrap-4-utilities.min.css');

* {
    font-family: 'Prompt';
}

.img-field {
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 0.5em;
}

.list-group-title {
    transform: translate(0px, 25px);
}